files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01_migrate.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      if [ -f /tmp/migrate ]
      then
        rm /tmp/migrate
        sudo docker exec `sudo docker ps -q` /srv/project/app/manage.py migrate --noinput
      fi

#  "/opt/elasticbeanstalk/hooks/appdeploy/post/02_collectstatic.sh":
#    mode: "000755"
#    owner: root
#    group: root
#    content: |
#      #!/usr/bin/env bash
#      if [ -f /tmp/collectstatic ]
#      then
#        rm /tmp/collectstatic
#        sudo docker exec `sudo docker ps -q` /srv/project/app/manage.py collectstatic --noinput
#      fi

  "/opt/elasticbeanstalk/hooks/appdeploy/post/03_create_superuser.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      if [ -f /tmp/create_superuser ]
      then
        rm /tmp/create_superuser
        sudo docker exec `sudo docker ps -q` /srv/project/app/manage.py create_superuser
      fi
